<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Or False</title>
</head>
<body>
    <div class="form-container">
        <h1>True Or False:</h1>
        <form action = '#' method = "post">
            {% for i in range(1,num_questions+1) %}
                <p>Question {{i}} : {{questions[i-1]}}</p>
                <input type="radio" name="q{{i}}" value="True"> True<br>
                <input type="radio" name="q{{i}}" value="False"> False<br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
